<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar NPC</title>
    <link rel="stylesheet" href="../style/css/style.css">
  </head>
  <body>
    <header class="menu">
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="npc-cadastro.html">Cadastrar NPC</a></li>
          <li><a href="npc-lista.html">Lista de NPCs</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>Cadastrar NPC</h1>
        <form id="formularioCadastroNPC" class="form">
          <div>
            <label for="imagem-npc">Imagem</label>
            <input type="file" id="imagem-npc" name="imagem-npc" accept="image/*">
          </div>

          <fieldset class="informacoes-basicas">
            <legend>Informações Básicas</legend>
            <div>
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome">
            </div>

            <div>
              <label for="classe">Classe</label>
              <input type="text" id="classe" name="classe">
            </div>

            <div>
              <label for="grupo-carreira">Grupo de Carreira</label>
              <input type="text" id="grupo-carreira" name="grupo-carreira">
            </div>

            <div>
              <label for="carreira">Carreira</label>
              <input type="text" id="carreira" name="carreira">
            </div>

            <div>
              <label for="status">Status</label>
              <input type="text" id="status" name="status">
            </div>

            <div>
              <label for="idade">Idade</label>
              <input type="number" id="idade" name="idade" min="0">
            </div>

            <div>
              <label for="altura">Altura</label>
              <input type="text" id="altura" name="altura">
            </div>

            <div>
              <label for="peso">Peso</label>
              <input type="text" id="peso" name="peso">
            </div>

            <div>
              <label for="especie">Espécie</label>
              <input type="text" id="especie" name="especie">
            </div>

            <div>
              <label for="genero">Gênero</label>
              <select id="genero" name="genero">
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="outro">Outro</option>
              </select>
            </div>
          </fieldset>

          <fieldset>
            <legend>Afiliações Conhecidas</legend>
            <textarea id="afiliacoes" name="afiliacoes" rows="8"></textarea>
          </fieldset>

          <fieldset>
            <legend>Habilidades Conhecidas</legend>
            <textarea id="habilidades" name="habilidades" rows="8"></textarea>
          </fieldset>

          <fieldset>
            <legend>Informações Biográficas</legend>
            <textarea id="biografia" name="biografia" rows="15"></textarea>
          </fieldset>
<!--          pensar em outra solução para não ser só uma div... ou usar essa div para área de informações ao usuário-->
          <div></div>


          <button type="submit">Salvar NPC</button>
        </form>
      </section>
    </main>
  </body>
</html>
