<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de NPCs</title>
    <link rel="stylesheet" href="../style/css/style.css">
  </head>
  <body>
    <header class="menu">
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="npc-cadastro.html">Cadastrar NPC</a></li>
          <li><a href="npc-lista.html">Lista de NPCs</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>Lista de NPCs</h1>
        <ul>
          <li>Nenhum NPC cadastrado ainda.</li>
        </ul>
      </section>
    </main>
  </body>
</html>
