* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2e2a47;
  color: white;
  padding: 20px;
}

h1 {
  color: #D5A6E6;
}

.menu {
  background-color: #3A2C57;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.menu nav ul {
  display: flex;
  justify-content: space-around;
}

.menu nav ul li a {
  color: #D5A6E6;
  font-size: 18px;
}

.menu nav ul li a:hover {
  color: #9C7BC5;
}
/* ajustar form */
